@import "./Common.scss";

.editor-div {
  position: relative;
  margin-bottom: 20px;
  background-color: rebeccapurple;
  // padding: 50px;
  .logo {
    height: 80px;
    width: 100px;

    background: teal;
  }
}
